@font-face {
  font-family: "Roboto";
  src: url("https://fonts.googleapis.com/css?family=Roboto:300,900&display=swap")
    format("truetype");
}

@import url("https://fonts.googleapis.com/css?family=Spartan&display=swap");

.box {
  -webkit-box-shadow: 6px 30px 30px 9px rgb(225, 225, 225, 0.3);
  -moz-box-shadow: 6px 30px 30px 9px rgb(225, 225, 225, 0.3);
  box-shadow: 6px 30px 30px 9px rgb(225, 225, 225, 0.3);
  margin-top: 15px;
  border-radius: 7px;
  padding-bottom: 10px;
  background-color: white;

  /* "0 9px 17px 8px #E5E8E9"  */
}

.box1 {
  -webkit-box-shadow: -6px -10px 10px -9px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -6px -10px 10px -9px rgba(17, 10, 10, 0.3);
  box-shadow: 10px 10px 80px 1px rgba(10, 6, 6, 0.3);
  margin-top: 15px;
  border-radius: 7px;
  padding: 10px;
  background-color: white;

  /* "0 9px 17px 8px #E5E8E9"  */
}

/* About Page Css */
.resume_container {
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  max-width: 700px;
  /* position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-30%, -30%); */
}
form {
  height: 100vh;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  background-color: white;
}

.box11 {
  -webkit-box-shadow: 6px 30px 30px 9px rgb(225, 225, 225, 0.3);
  -moz-box-shadow: 6px 30px 30px 9px rgb(225, 225, 225, 0.3);
  box-shadow: 6px 30px 30px 9px rgb(225, 225, 225, 0.3);
  margin-top: 15px;
  border-radius: 7px;
  padding-bottom: 10px;
  border: 1px solid rgb(225, 225, 225, 0.3);
  padding: 10px;

  /* "0 9px 17px 8px #E5E8E9"  */
}
.coll {
  width: 30%;
}

.btn-success {
}
/* header {
  height: 100vh;
  background-image: url("./img/bg.svg");
  background-size: cover;
  background-position: center;
} */
.w-25 {
  max-width: 90px;
  height: 40px;
}
.btn-danger {
  max-width: 50px;
  height: 30px;
}

.file {
  position: relative;
  overflow: hidden;
  margin-top: 20px;
}

.file-1 {
  position: absolute;
  font-size: 40px;
  opacity: 0;
  right: 0;
  top: 0;
}

/* A4 Size pApaer Css */
/* body {
  background: rgb(204, 204, 204);
} */

.top_head {
  padding-left: 10px;
  padding-top: 15px;
}

.A4 {
  background: rgb(204, 204, 204);
  padding-left: 10px;
  padding-right: 10px;
}
@media only screen and (max-width: 500px) {
  .A4 {
    background: rgb(204, 204, 204);
    padding-left: 10px;
    padding-right: 10px;
  }
}
@page {
  size: A4;
}
.A4 {
  width: 290mm;
  height: 297mm;
  margin: 0 auto;
  background-color: white;
}
@media print {
  html,
  body {
    width: 210mm;
    height: 297mm;
  }
  .page {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
  }
}

.heading {
  font-weight: 400;

  font-size: 38.4834px;
  text-transform: capitalize;
  font-family: sans-serif;
}
.subheading {
  text-transform: capitalize;

  font-size: 15px;
  /* text-align: justify; */
  line-height: 20px;
}
.basic_information {
  background-color: rgb(66, 66, 204, 0.05);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  padding-top: 15px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 15px;
}

.main_section {
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 15px;
}
.education {
  color: rgb(66, 66, 204);
  font-family: sans-serif;
  font-weight: 900;
  font-size: 24px;
  margin-bottom: 10px;
  letter-spacing: 2px;
}
.name_section {
  color: black;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 18px;
  letter-spacing: 0.5px;
}
.degree_major {
  color: black;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.5px;
}
.from_to {
  font-family: "Roboto", sans-serif;
  color: gray;
  font-style: italic;

  margin-top: -10px;
}

.about_project1 {
  font-size: 11px;
  font-family: sans-serif;
  color: gray;
  margin-top: -10px;
}

.about_project {
  font-size: 11px;
  font-family: sans-serif;
  color: gray;
  margin-top: -10px;
}
.project_head {
  font-family: sans-serif;
  /* color: gray; */
  font-size: 16.765px;
}
.bte {
  padding-left: 15px;
}

.bttn {
  background-color: rgb(66, 66, 204);
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 19px;
  height: 33px;
  line-height: 10px;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid rgb(66, 66, 204);
}
.bttn:hover {
  background-color: rgb(66, 66, 204);
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 19px;
  height: 33px;
  line-height: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.language {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.language_level {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  opacity: 0.8;
}
.faa {
  color: rgb(66, 66, 204);
}

/* For User Dashboard */
#fact1 {
  background: url("https://assets.vogue.com/photos/5bf4664e090f622d55116ce1/master/pass/00-promo-image-the-tulip-skyscraper-building-london.jpg")
    center top no-repeat fixed;
  background-size: cover;
  padding: 40px 0;
  position: relative;
  margin-top: 0px;

  color: white;
}

#fact1::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0%;
  bottom: 0;
  background: rgba(5, 5, 5, 0.78);
  z-index: 0;
}

#fact1 .container {
  position: relative;
  z-index: 100;
}

/* For Index Bottom Page */
